<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mediaroot" value="c:\\@git\\audioboys\\mp3.audioboys.org" />
    <add key="binaryfolder" value="c:/@git/WrapYoutubeDl/Binaries/"/>
  </appSettings>
</configuration>